/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#voteContainer {
    margin: auto;
    width: 80%;
    max-width: 600px;
}

.vote-controls {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les boutons */
    margin-bottom: 20px; /* Espacement entre les boutons et les résultats */
}

.voteBtn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.voteBtn:active {
    transform: scale(0.98);
}

.resultats {
    margin-top: 10px;
    text-align: left;
}

.resultats h3 {
    margin: 10px 0;
}

/* Style spécifique pour chaque type de vote */
#senateursPour {
    color: green;
}

#senateursContre {
    color: red;
}
